body{
    background-color: aquamarine;
    background-image: url(../img/bgk.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h3{
    color:white;
}

.email{
    border-radius: 50px !important;
    border-color: rgba(255,255,255,0.2);
    border-width: 2px;
    color:white;
    background-color: transparent;
}
.email:focus{
    background-color: transparent;
    color:white;
}
.email::placeholder{
    color:white;
    background-color: transparent;
}

.signup{
    background-color:rgba(255,255,255,0.2);
    border-radius:50px !important;
    margin-left: -184px !important;
    color:white;
    font-size: 30px;
    padding:10px 40px 10px 40px;
    margin:2px;
}

.logo{
    width:27% !important;
}