body{
    background-color: white;
}


.logo{
    width:28% !important;
}

.background{
    background-image: url(../img/bgk.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:-140px;
}

.white{
    color:white;
}

.blue{
    color:rgb(22,45,141);
}

.header{
    font-size: 45px;
}

.subtitle{
    font-size: 33px;
    color: white;
}

.spacer{
    margin-top:25%;
    margin-bottom:180px;
}


.line_white{
    border-bottom: 1px #fff solid;
    width: 80%;
    margin:auto;
    margin-bottom:10%;
}

.line_blue{
    border-bottom: 1px rgb(22,45,141) solid;
    width: 80%;
    margin:auto;
}

.email{
    border-radius: 50px !important;
    border-color: rgba(134, 183, 247, 0.2);
    border-width: 2px;
    color:white;
    background-color: transparent;
    font-size: 25px;
    text-indent: 20px;
}
.email:focus{
    background-color: transparent;
    color:white;
}
.email::placeholder{
    color:white;
    font-size: 25px;
    text-indent: 20px;
    background-color: transparent;
}

.signup, .signup:hover{
    background-color:rgba(134, 183, 247, 0.2);
    /* background-color:rgba(255, 255, 255, 0.2); */
    border-radius:50px !important;
    margin-left: -212px !important;
    color:white;
    font-size: 25px;
    padding:15px 60px 15px 60px;
    margin:2px;
    font-weight: bold;
}


.circle{
    border-radius:50%;
    border:6px solid rgb(251, 123, 84);
    width:170px;
    height:170px;
    margin:auto;
}

.descripotion{
    font-size: 25px;
    text-align: center;
}

.card{
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin-bottom:40px;
}

.emailUs, .emailUs:hover{
    border-radius:50px;
    border: 1px rgb(22,45,141) solid;
    color:rgb(22,45,141);
    font-size: 20px;
    padding:15px 60px 15px 60px;
}

.footer-text{
    color:rgb(22,45,141);
    font-size: 23px;
}

.content-right{
    text-align: right;
}

.policy-link{
    text-decoration: underline;
}