body{
    background-color: aquamarine;
    background-image: url(../img/bgk.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color:white;
}

.header{
    font-size: 45px;
}

.subtitle{
    font-size: 33px;
    color: white;
}

.spacer{
    margin-top:20%;
}


.line{
    border-bottom: 1px #fff solid;
    width: 80%;
    margin:auto;
}

.email{
    border-radius: 50px !important;
    border-color: rgba(255,255,255,0.2);
    border-width: 2px;
    color:white;
    background-color: transparent;
}
.email:focus{
    background-color: transparent;
    color:white;
}
.email::placeholder{
    color:white;
    background-color: transparent;
}

.signup{
    background-color:rgba(134, 183, 247, 0.2);
    /* background-color:rgba(255, 255, 255, 0.2); */
    border-radius:50px !important;
    margin-left: -184px !important;
    color:white;
    font-size: 25px;
    padding:15px 60px 15px 60px;
    margin:2px;
}

.logo{
    width:28% !important;
}
